#header {
  background-color: #81dfa7;
  position: sticky;
  padding-top: 4rem;
  top: 0;
}
#header h1 {
  font-family: "Fredericka the Great";
  text-shadow: 5px 5px 10px rgb(255, 92, 173);
  font-style: italic;
  font-size: 3rem;
  text-align: center;
}
#header .navbar__lista {
  background-color: #81dfa7;
  font-family: "Montserrat";
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 1rem;
}
#header .navbar__lista .navbar__link {
  font-size: 1.5rem;
  line-height: 2rem;
  color: rgb(48, 47, 47);
  display: block;
  text-decoration: none;
}
#header .navbar__lista .navbar__link:hover {
  color: rgb(255, 92, 173);
}
@media screen and (min-width: 700px) {
  #header .navbar__lista {
    flex-direction: row;
    justify-content: space-around;
  }
}

#main {
  background-color: #b5ffd7;
  font-family: "Montserrat";
  font-size: 1rem;
  padding: 2rem 3rem;
  text-align: justify;
  line-height: 1.5rem;
}
#main h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
  font-family: "Fredericka the Great";
}

@media screen and (min-width: 700px) {
  #main {
    padding: 4rem 5rem;
  }
}
#fotos {
  background-color: #9befbf;
  padding: 2rem 3rem;
}
#fotos h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
  font-family: "Fredericka the Great";
}
#fotos #galeria {
  display: grid;
  justify-content: center;
  align-items: stretch;
  perspective: 800px;
  gap: 1.5rem;
  grid-template-columns: 1fr;
  grid-template-areas: "img1" "img2" "img3" "img4" "img5" "img6";
}
#fotos .imagen {
  object-fit: cover;
  width: 100%;
  height: auto;
  align-self: center;
  border-radius: 0.5rem;
  box-shadow: 0 10px 10px 0 rgb(0, 0, 0);
  transition: all 0.5s;
  transform: translateZ(15px);
}
#fotos .imagen:hover {
  box-shadow: 0 4px 25px 0 rgb(255, 92, 173);
}
#fotos #img1 {
  grid-area: img1;
}
#fotos #img2 {
  grid-area: img2;
}
#fotos #img3 {
  grid-area: img3;
}
#fotos #img4 {
  grid-area: img4;
}
#fotos #img5 {
  grid-area: img5;
}
#fotos #img6 {
  grid-area: img6;
}
@media screen and (min-width: 700px) {
  #fotos #galeria {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "img1 img2" "img3 img4" "img5 img6";
  }
}
@media screen and (min-width: 900px) {
  #fotos #galeria {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "img1 img2 img3" "img4 img5 img6";
  }
}

.footer__lista {
  background-color: #81dfa7;
  font-family: "Montserrat";
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 1rem;
}
.footer__lista .footer__link {
  font-size: 1.5rem;
  line-height: 2rem;
  color: rgb(48, 47, 47);
  display: block;
  text-decoration: none;
}
.footer__lista .footer__link:hover {
  color: rgb(255, 92, 173);
  text-decoration: none;
}

@media screen and (min-width: 700px) {
  .footer__lista {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*# sourceMappingURL=index.css.map */
