@use '_colores';
@use '_fuentes';
@use '_breakpoints';

.footer__lista {
    background-color: map-get(colores.$colores , 'color3');
    font-family: map-get(fuentes.$fuentes, 'montserrat' );
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 1rem;

    .footer__link {
        font-size: 1.5rem;
        line-height: 2rem;
        color: rgb(48, 47, 47);
        display: block;
        text-decoration: none;
    }
    
    .footer__link:hover {
        color:rgb(255, 92, 173);
        text-decoration: none;
    }
}

@media screen and (min-width: map-get(breakpoints.$breakpoints, 'medium')) {
    .footer__lista {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

